# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Excel files if you want to exclude them from Git
*.xlsx

# Logs
*.log
whatsapp_message_log.txt

# VSCode
.vscode/

# Selenium cache or drivers (optional)
chromedriver.exe
