# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment variables
.env

# Logs
*.log
whatsapp_message_log.txt

# Virtual environments
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db
